
.launches-list {
    list-style: none;
    display:flex;
    flex-wrap: wrap
}

.launches-list img {
    width: 256px;
    height: 256px;
}

.launch {
    flex: 1 0 21%;
}

.launch-buttondiv {
    text-align:center;
    margin: 12px 0;
}

.launch-buttondiv a button {
    background-color: transparent;
    border: none; 
}

.launch-title {
    text-align: center;
}