@import url('https://fonts.googleapis.com/css2?family=Muli:wght@500&display=swap');

body {
    background-image: url('../images/background3.jpg');
    background-color: white;
    background-blend-mode: luminosity; 
 }

.mission-div {
    color: #d3d8de;
    font-family: 'Muli', sans-serif;
}

.mission-div h2 {
    text-align: center;
    letter-spacing: 1.5px;
    font-size: 2.4em;
    margin-bottom: 0;
}

.mission-info-div {
    display:flex;
}

.mission-data {
    list-style: none;
    font-size: 1.5em;
    padding: 0;
    width:50%;
    padding-left:8px;
    margin-left: 15px
}

.mission-data li {
    padding:8px;
   
}

.mission-data li span {
    padding-right: 8px;
    color: rgb(243, 190, 44);
}

.mission-data li a {
    color: #d3d8de;
    word-break: break-all;
}

.mission-data li a:visited {
    color: #d3d8de;
}

.video-div {
    width:50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.video-div iframe {
    border: none;
}

@media only screen and (max-width: 600px) {
    .mission-info-div {
        flex-direction: column;
        padding-left: 10px;
        padding-right: 10px
    }
    .mission-data {
        width: 80%;
        margin: 0 auto;
        font-size:1.2em
    }   

    .mission-div h2 {
        font-size:1.5em
    }
    .video-div {
        width:100%
    }
}

/* @media only screen and (min-width: 768px) {
} */