@import url('https://fonts.googleapis.com/css2?family=Muli:wght@500&display=swap');


footer {
    background-color: #011b35;
    font-family: 'Muli', sans-serif;
    font-size: 1.4vw;
    position: absolute;
    left: 0;
    bottom: -30px;
    width:100%;
    height: 8vh;
    display: flex;
    justify-content: center;
    align-items: center
}