@import url('https://fonts.googleapis.com/css2?family=Muli:wght@500&display=swap');


footer {
    background-color: #011b35;
    text-align: center;
    font-family: 'Muli', sans-serif;
    font-size:1em;
    position: fixed;
    left: 0;
    bottom: 0;
    width:100%

}