@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Muli:wght@500&display=swap');

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #011b35;
    padding-bottom: 10px;
}

.logo-div {
    display:flex;
    font-family: 'Poppins', sans-serif;
}

.logo-div img {
    max-width:100px;
    max-height:100px;
    margin-left: 10px
}

.logo-div h1{
    margin-left: 0.5rem;
    color:rgb(243, 190, 44);
}

.route-div {
    display:flex;
    word-break: break-all;
}

.route-div a{
    text-decoration-line:none ;
}

.route-div a p {
    margin-right: 1em;
    color:#d3d8de;
    font-size: 1.4em;
    text-decoration-line: none;
    font-family: 'Muli', sans-serif;  
    font-weight: bold;
    letter-spacing: 1px;

}

.route-div a p:visited {
    color:white;
  
}

