@import url('https://fonts.googleapis.com/css2?family=Muli:wght@500&display=swap');

.filter-div {
    text-align:center;
    display: flex;
    justify-content: space-around;
    font-family: 'Muli', sans-serif;
    margin-top:1em;
    font-size: 1.2em;
    align-items: center;
}

.filter-div .filter-by {
    font-weight: bold;
    font-size: 1.1em;
}

.filter-div div select {
    height: 28px;
    border-radius: 5px;
    font-size: 16px;
}

.filter-div .location-div  select {
    max-width: 137px;
    overflow: hidden
}